.LinkPai  span {
    position: absolute;
    width: 65%;
    height: 200%;
    background: linear-gradient( 90deg, #0118D8, #1B56FD);
    transform: translateY(150%);
    border-radius: 30%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}


.LinkRouter {
    color: #1B56FD;
    display: inline-block;
    width: 100%;
}
 .LinkRouter:hover {
        transition: 2s;
        color: white;
    }

    .LinkRouter:link,
    .LinkRouter:visited {
        text-decoration: none;
        cursor: pointer;
    }

.LinkPai:hover span {
    transform: translate(0) scale(2);
}

.LinkPai span:nth-child(1) {
    --n: 1;
}

.LinkPai span:nth-child(2) {
    --n: 2;
}

.LinkPai span:nth-child(3) {
    --n: 3;
}

.LinkPai span:nth-child(4) {
    --n: 4;
}

.LinkPai span:nth-child(5) {
    --n: 5;
}