.dashboard-header {
    display: flex;
    width: fit-content;
    padding: 0 40px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dashboard-header-title {
    padding-top: 20px;
    color: #23548C;
}

.dashboard-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 100%;
}

.dashboard-menu-list {
    color: black;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.dashboard-logout-btn {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
}

.dashboard-menu-item {
    width: 100%;
    cursor: pointer;
    color: black;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background-color: #0077ff42;
    padding: 10px;
    border-radius: 10px;
}